#wpwrap {
	background: #fff;
}

#wpcontent {
	padding: 0;
}

.google-fonts-page {
	display: grid;
	grid-template-columns: 1fr 250px;
	margin: 0;
	padding: 0;
	min-height: calc(100vh - 100px);
}

.google-fonts-page main {
	padding: 2rem;
}

#google-fonts-table {
	margin-bottom: 2rem;
}

#google-fonts-table.widefat thead td input {
	margin: 0;
}

#google-fonts-table tbody td {
	vertical-align: middle;
}

#google-fonts-table tbody p {
	font-size: 2rem;
	margin: 0;
}

#google-fonts-table .demo-cell {
	width: 100%;
	font-size: 1.7rem;
}

.select-font {
	display: flex;
}

.sidebar-container {
	padding: 1rem;
	max-height: calc(100vh - 100px);
	position: sticky;
	top: 0;
	height: 100%;
	border-left: 1px solid #e2e2e2;
}

.widefat td {
	padding: 0.2rem 1rem;
}
