#wpwrap {
	background: #fff;
}

#wpcontent {
	padding: 0;
}

#google-fonts-table {
	margin-bottom: 2rem;
}

#google-fonts-table.widefat thead td input {
	margin: 0;
}

#google-fonts-table tbody td {
	vertical-align: middle;
}

#google-fonts-table tbody p {
	font-size: 2rem;
	margin: 0;
}

#google-fonts-table .demo-cell {
	width: 100%;
	font-size: 1.7rem;
}

.select-font {
	display: flex;
}

.widefat td {
	padding: 0.2rem 1rem;
}
