#wpfooter {
	display: none;
}

#wpwrap {
	background: #fff;
}

.layout {
	display: grid;
	grid-template-columns: 350px 1fr;
	margin-left: -20px;
	min-height: calc(100vh - 32px);
}

.layout > .preview,
.layout main {
	padding: 2rem;
}

.preview {
	position: sticky;
	top: 32px;
	max-height: calc(100vh - 32px);
	border-left: 1px solid #e2e2e2;
}

.form-group {
	margin-bottom: 1rem;
	max-width: 300px;
}

.form-group input {
	width: 100%;
	column-gap: 2rem;
}

.variable-settings .header {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
