# ignore everything in the root except the "wp-content" directory.
!wp-content/

# ignore everything in the "wp-content" directory, except:
# "mu-plugins", "plugins", "themes" directory
wp-content/*
!wp-content/mu-plugins/
!wp-content/plugins/
!wp-content/themes/

# ignore these plugins
wp-content/plugins/hello.php

# ignore specific themes
wp-content/themes/twenty*/

# ignore dependency directories
node_modules/
vendor/

# ignore log files and databases
*.log
*.sql
*.sqlite

# ignore system files
.DS_Store
.vscode

# plugin build folder
build/

# Ignore local override files
.wp-env.override.json

# phpunit
*.result.*
