.variants-family p {
	display: flex;
	justify-content: space-between;
	margin: 0 0 0.3rem 0;
}

.variants-family p span:first-child {
	font-weight: bold;
}

.variants-family p span:last-child {
	font-size: 0.7rem;
	color: #7e7e7e;
}

.variants-family {
	padding: 0.25rem 0;
}

.variant-row {
	display: grid;
	grid-template-columns: 1fr min-content min-content;
	white-space: nowrap;
	align-items: center;
	gap: 0.1rem;
	padding: 0 0 0 0.5rem;
	margin-bottom: 0.1rem;
}

.variant-row:hover {
	background-color: #f2f2f2;
}

.variant-row button {
	visibility: hidden;
}

.variant-row:hover button {
	visibility: visible;
}

.variants-total {
	border-top: 1px solid #e2e2e2;
	padding-top: 1rem;
	display: flex;
	justify-content: space-between;
}

.size {
	font-size: 0.7rem;
	color: #7e7e7e;
}

