@import "../node_modules/@wordpress/base-styles/mixins";
@include wordpress-admin-schemes();


.create-block-theme {
	&__landing-page {
		background-color: #fff;
		margin-left: -20px;
		a,
		button {
			color: #3858e9;
		}
		&__header {
			width: 100%;
			background-color: #2d59f2;
			margin: 0;
		}
		&__body {
			font-weight: 200;
			padding: 40px 0;
			p {
				margin-top: 0;
			}
			h1,
			h2,
			h3,
			h4,
			h5,
			h6 {
				margin-top: 0.3em;
				margin-bottom: 0.3em;
			}
			h2 {
				font-size: 2em;
			}
			h3 {
				font-size: 1em;
			}
			@media screen and (max-width: 775px) {
				flex-direction: column;
				h2 {
					font-size: 1.5em;
				}
			}
			&__left-column {
				flex: 1;
				margin: 0 60px;
				button {
					font-size: 1.75em;
					@media screen and (max-width: 775px) {
						font-size: 1.25em;
					}
				}
			}
			&__right-column {
				max-width: 330px;
				margin: 0 60px;
				@media screen and (max-width: 775px) {
					max-width: 100%;
				}
				p {
					margin-bottom: 0;
				}
			}

			&__faq {
				img {
					max-width: 100%;
				}
				p {
					padding: 10px;
					font-style: italic;
				}
				details {
					padding-bottom: 20px;
				}
			}
		}
	}
}
