@import "../node_modules/@wordpress/base-styles/mixins";
@include wordpress-admin-schemes();

.create-block-theme.landing-page{
	.cbt-lp-body{
		font-weight: 200;
		padding-top: 40px;

			p{
				margin-top: 0;
			}
			h1,h2,h3,h4,h5,h6{
				margin-bottom: .3em;

			}
		.cbt-lp-left-column{
			max-width: 620px;
			padding: 0 40px;
			button {
				font-size: 22px;
			}
		}
		.cbt-lp-right-column{
 			width: 330px;
		}
	}
}
