@use "@wordpress/base-styles/colors";

$modal-footer-height: 70px;

.create-block-theme-sidebar hr {
	margin: 0;
}

.create-block-theme__metadata-editor-modal {
	padding-bottom: $modal-footer-height;
}

.create-block-theme__metadata-editor-modal__footer {
	border-top: 1px solid #ddd;
	background-color: #fff;
	position: absolute;
	bottom: 0;
	margin: 0 -32px;
	padding: 16px 32px;
	height: $modal-footer-height;
}

.create-block-theme__metadata-editor-modal__screenshot {
	max-width: 200px;
	height: auto;
	aspect-ratio: 4 / 3;
	object-fit: cover;
}

