.demo-text-input {
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	padding: 1rem 0;
	margin: 1rem 0;
}

.demo-text-input .container {
	display: grid;
	column-gap: 1rem;
	grid-template-columns: 0.5fr 1fr 0.5fr min-content;
}

.demo-text-input .container > div:last-child {
	display: flex;
	flex-direction: column;
	justify-content: center;
}
