.appearance_page_create-block-theme h2 {
	margin-bottom: 0;
}

.appearance_page_create-block-theme p.description {
	margin-bottom: 1rem;
}

.appearance_page_create-block-theme .submit {
	clear: both;
}

#col-left label,
.theme-form label,
.theme-form legend {
	font-weight: 600;
}

.theme-tag-form-control label {
	font-weight: 400;
}

.theme-form label {
	display: block;
	margin-bottom: 0.25rem;
}

/* Theme Tag Checkboxes */
.theme-tags {
	display: grid;
	margin-top: 0.5rem;
}

.theme-tags fieldset {
	margin-bottom: 1rem;
}

.theme-tags legend {
	margin-bottom: 1rem;
}

.theme-tags label {
	display: inline-block;
	margin-left: 0.25rem;
	margin-bottom: 0.25rem;
}

#features-tags {
	display: grid;
}

.theme-tag-form-control {
	margin-bottom: 0.5rem;
}

@media screen and (min-width: 600px) {
	.theme-tags {
		grid-template-columns: 1fr 1fr;
	}

	/* Feature tags have items than other categores, so display the list in 2 columns on wider screens. */
	#features-tags {
		grid-template-columns: 1fr 1fr;
		grid-column: 1 / 3;
		margin-top: 1rem;
	}
}

@media screen and (min-width: 783px) {
	.theme-tags fieldset {
		margin-bottom: 0.5rem;
	}

	.theme-tags legend {
		margin-bottom: 0.5rem;
	}

	/* Checkboxes shrink to standard size. */
	.theme-tag-form-control {
		margin-bottom: 0;
	}
}

@media screen and (min-width: 1440px) {
	.theme-tags {
		grid-template-columns: 1fr 1fr 1fr 1fr;
	}

	#features-tags {
		grid-column: 3 / 5;
		margin-top: 0;
	}
}
